body{
    background-color: #CCCCCC;
}
/*Where the title goes*/
.panel-heading h3{
    text-align: center;
    font-size: 30px;
}

/*Main Panel */
.panel-body{
    background-color: #DADADA;
    width:50%;
    margin-left: auto;
    margin-right: auto;
}
/* Position of Complete Button goes*/

.panel-footer {
    padding: 0 15px;
    margin: 10px;
    border:none;
    text-align: center;
    background-color: inherit;
}

.sq-title {
    font-size: 20px;
    margin-left: 20px;
}

.sq-item:nth-child(1) {
    margin-bottom: 5px;
}

.sq-root {
    padding: 10px;
}
.sq-mainRoot{
    background-color: white;
    margin-top: 10px;
    text-align: center;
    padding: 5px;
}
.sv_complete_btn{
    width:50%
}

