body{
    background-color: #CCCCCC;
}

.btn-green {
    background-color: #1ab394;
    color: #fff;
    border-radius: 3px;
}
.btn-green:hover, .btn-green:focus {
    background-color: #18a689;
    color: #fff;
}
.panel-footer {
    padding: 0 15px;
    margin: 10px;
    border:none;
    text-align: center;
    background-color: inherit;
}
.panel-heading h3{
    text-align: center;
    font-size: 30px;
}


.sq-root-cb {
    border-left: 4px solid orange;
}

.sq-title {
    font-size: 20px;
    margin-left: 20px;
}

.sq-label {
    margin-left: 30px;
    font-weight: inherit;
}

.sq-item:nth-child(1) {
    margin-bottom: 5px;
}
.sq-question {
    border-left: 100px solid orange;
}
.sv_complete_btn{
    position: relative;
}
/*Main Panel */
.panel-body{
    background-color: #DADADA;
    width:50%;
    margin-left: auto;
    margin-right: auto;
}
.sq-root {
    padding: 10px;
}
.sq-mainRoot{
    background-color: white;
    margin-top: 10px;
    text-align: center;
    padding: 5px;
}
.sv_complete_btn{
    width:50%
}

